// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "global";

body {
	background-color: #1f1f1f
}

.header .logo{
	padding: 0px 0px 0px 0px
}

.header .title{
	padding: 0px 0px 0px 0px
}